Leila Diallo
@03111898
Group Project 1

In [4]:
import numpy as np
import pandas as pd

In [6]:
df =pd.read_csv('fish_data.csv')
print(df)

                    species  length  weight  w_l_ratio
0        Anabas testudineus   10.66    3.45       0.32
1        Anabas testudineus    6.91    3.27       0.47
2        Anabas testudineus    8.38    3.46       0.41
3        Anabas testudineus    7.57    3.36       0.44
4        Anabas testudineus   10.83    3.38       0.31
...                     ...     ...     ...        ...
4075  Sillaginopsis panijus   30.56    6.12       0.20
4076  Sillaginopsis panijus   29.66    6.11       0.21
4077  Sillaginopsis panijus   32.81    6.25       0.19
4078  Sillaginopsis panijus   29.78    6.11       0.21
4079  Sillaginopsis panijus   31.62    6.14       0.19

[4080 rows x 4 columns]

# My Task: Data Filtering and Selection (Number 5)

5. Data Filtering and Selection
o Filter the dataset based on conditions. For example:
▪ Filter rows where a certain column’s value is greater than a threshold
(df[df['column'] > value]).
o Use .loc[] and .iloc[] to select specific rows and columns.

In [21]:
filtered_df = df[df['length'] > 5.0] #Filtering the data to only include lengths over a certain number of inches.

#Selecting specific rows and columns using .loc[]
selected_data_loc = df.loc[0:4, ['length', 'weight']]

In [30]:
#Selecting rows based on index and columns based on index position using .iloc[]
selected_data_iloc = df.iloc[0:5, [1, 2]]

In [26]:
# Results displayed:
filtered_df.head()

   length  weight
0   10.66    3.45
1    6.91    3.27
2    8.38    3.46
3    7.57    3.36
4   10.83    3.38

In [32]:
print(selected_data_loc)

   length  weight
0   10.66    3.45
1    6.91    3.27
2    8.38    3.46
3    7.57    3.36
4   10.83    3.38

In [34]:
print(selected_data_iloc)

   length  weight
0   10.66    3.45
1    6.91    3.27
2    8.38    3.46
3    7.57    3.36
4   10.83    3.38

# My Task: Grouping and Aggregation (Number 7)

7. Grouping and Aggregation
o Use groupby() to group data by a categorical column and perform an
aggregate operation like sum(), mean(), count().
▪ Example: Group by gender and calculate the average salary or scores
per group.
o Explore various aggregations like min(), max(), mean(), and std().

In [38]:
# Grouping by species and calculating mean values
mean_values = df.groupby('species').mean()

# Grouping by species and calculating the sum of weight
sum_weights = df.groupby('species')['weight'].sum()

# Grouping by species and counting the number of fish in each group
fish_count = df.groupby('species').count()

# Grouping by species and calculating min, max, and standard deviation for length and weight
min_length = df.groupby('species')['length'].min()
max_length = df.groupby('species')['length'].max()
std_weight = df.groupby('species')['weight'].std()

# Performing multiple aggregations on length
length_aggregations = df.groupby('species')['length'].agg(['min', 'max', 'mean', 'std'])

# Display results
print("Mean values:\n", mean_values)
print("\nSum of weights:\n", sum_weights)
print("\nFish count:\n", fish_count)
print("\nLength Aggregations:\n", length_aggregations)

Mean values:
                            length    weight  w_l_ratio
species
Anabas testudineus       8.179139  3.271239   0.406176
Coilia dussumieri       24.346048  2.747711   0.112988
Otolithoides biauritus  18.549893  3.198355   0.173013
Otolithoides pama       21.800253  3.849563   0.177149
Pethia conchonius        9.604800  4.585453   0.485747
Polynemus paradiseus    12.946812  3.989782   0.313231
Puntius lateristriga    13.071938  2.632799   0.203254
Setipinna taty          17.811833  3.101750   0.174437
Sillaginopsis panijus   31.066923  6.143143   0.198264

Sum of weights:
 species
Anabas testudineus        1557.11
Coilia dussumieri         1140.30
Otolithoides biauritus    1496.83
Otolithoides pama         1674.56
Pethia conchonius         2178.09
Polynemus paradiseus      1827.32
Puntius lateristriga      1100.51
Setipinna taty            1488.84
Sillaginopsis panijus     2795.13
Name: weight, dtype: float64

Fish count:
                         length  weight  w_l_ratio
species
Anabas testudineus         476     476        476
Coilia dussumieri          415     415        415
Otolithoides biauritus     468     468        468
Otolithoides pama          435     435        435
Pethia conchonius          475     475        475
Polynemus paradiseus       458     458        458
Puntius lateristriga       418     418        418
Setipinna taty             480     480        480
Sillaginopsis panijus      455     455        455

Length Aggregations:
                           min    max       mean       std
species
Anabas testudineus       6.36  11.01   8.179139  1.096871
Coilia dussumieri       22.62  25.76  24.346048  0.643148
Otolithoides biauritus  15.72  21.95  18.549893  1.273891
Otolithoides pama       18.64  24.35  21.800253  1.346260
Pethia conchonius        7.10  12.84   9.604800  1.284322
Polynemus paradiseus     9.38  16.72  12.946812  1.662945
Puntius lateristriga     9.69  15.41  13.071938  1.252124
Setipinna taty          15.93  19.48  17.811833  0.757521
Sillaginopsis panijus   27.75  33.86  31.066923  1.361024