In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('fish_data.csv')
print(df)

                    species  length  weight  w_l_ratio
0        Anabas testudineus   10.66    3.45       0.32
1        Anabas testudineus    6.91    3.27       0.47
2        Anabas testudineus    8.38    3.46       0.41
3        Anabas testudineus    7.57    3.36       0.44
4        Anabas testudineus   10.83    3.38       0.31
...                     ...     ...     ...        ...
4075  Sillaginopsis panijus   30.56    6.12       0.20
4076  Sillaginopsis panijus   29.66    6.11       0.21
4077  Sillaginopsis panijus   32.81    6.25       0.19
4078  Sillaginopsis panijus   29.78    6.11       0.21
4079  Sillaginopsis panijus   31.62    6.14       0.19

[4080 rows x 4 columns]

In [2]:
# Cristian Simms' Work

In [3]:
df = pd.read_csv('fish_data.csv')
df.isnull()

      species  length  weight  w_l_ratio
0       False   False   False      False
1       False   False   False      False
2       False   False   False      False
3       False   False   False      False
4       False   False   False      False
...       ...     ...     ...        ...
4075    False   False   False      False
4076    False   False   False      False
4077    False   False   False      False
4078    False   False   False      False
4079    False   False   False      False

[4080 rows x 4 columns]

In [4]:
df = pd.read_csv('fish_data.csv')
df.isnull().sum()

species      0
length       0
weight       0
w_l_ratio    0
dtype: int64

# Leila Diallo's Work

In [6]:
filtered_df=df[df['length'] > 5.0]
selected_data_loc = df.loc[0:4, ['length', 'weight']]
print(selected_data_loc)

   length  weight
0   10.66    3.45
1    6.91    3.27
2    8.38    3.46
3    7.57    3.36
4   10.83    3.38

In [7]:
selected_data_iloc = df.iloc[0:5, [1,2]]
print(selected_data_iloc)

   length  weight
0   10.66    3.45
1    6.91    3.27
2    8.38    3.46
3    7.57    3.36
4   10.83    3.38

In [8]:
filtered_df.head()

              species  length  weight  w_l_ratio
0  Anabas testudineus   10.66    3.45       0.32
1  Anabas testudineus    6.91    3.27       0.47
2  Anabas testudineus    8.38    3.46       0.41
3  Anabas testudineus    7.57    3.36       0.44
4  Anabas testudineus   10.83    3.38       0.31

# Elise Webb's Work

### Sorting the fish by length from longest to shortest

In [11]:
length_sorted_df = df.sort_values(by='length', ascending = False)
print(length_sorted_df)

                    species  length  weight  w_l_ratio
3722  Sillaginopsis panijus   33.86    6.23       0.18
3634  Sillaginopsis panijus   33.85    6.27       0.19
3809  Sillaginopsis panijus   33.84    6.19       0.18
3773  Sillaginopsis panijus   33.82    6.21       0.18
3678  Sillaginopsis panijus   33.66    6.22       0.18
...                     ...     ...     ...        ...
469      Anabas testudineus    6.39    3.37       0.53
72       Anabas testudineus    6.39    3.06       0.48
286      Anabas testudineus    6.39    3.21       0.50
353      Anabas testudineus    6.37    3.25       0.51
190      Anabas testudineus    6.36    3.25       0.51

[4080 rows x 4 columns]

### Sorting the fish by weight:length ratio from smallest to largest

In [13]:
wl_sorted_df = df.sort_values(by='w_l_ratio'],ascending=True)
print(wl_sorted_df)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (2625920497.py, line 1)

### Sorting the species column descending and weight column ascending from largest to smallest

In [ ]:
sw_sorted_df=df.sort_values(by=['species','weight'], ascending = [False, True])
print(sw_sorted_df)

### Ranking the length column decending from longest to shortest

In [ ]:
df_rank=df['length_rank']=df['length'].rank(ascending=False)
print(df_rank)

### Ranking the species column alphabetically

In [ ]:
df_rank=df
df['species_rank']=df['species'].rank(ascending=False)
print(df_rank)

# Hailey Burnette's Work

In [ ]:
types_of_species = df['species'].unique()
list_of_species_in_dataset = list(types_of_species)
print(list_of_species_in_dataset)

### Finding the Mean length of the dataset using Numpy:

In [ ]:
mean_length = np.mean(df['length'])
print(mean_length)

### Finding the Mean weight ratio of the dataset using Numpy:

In [ ]:
mean_weight = np.mean(df['weight'])
print(mean_weight)

### Finding the Mean of the weight:length ratio of the dataset using Numpy:

In [ ]:
mean_w_l_ratio = np.mean(df['w_l_ratio'])
print(mean_w_l_ratio)

### Finding the Median of the length of the dataset using Numpy:

In [ ]:
median_length = np.median(df['length'])
print(median_length)

### Finding the Median of the weight of the dataset using Numpy:

In [ ]:
median_weight = np.median(df['weight'])
print(median_weight)

### Finding the Median of the weight:length ratio of the dataset using Numpy:

In [ ]:
median_w_l_ratio = np.median(df['w_l_ratio'])
print(median_w_l_ratio)

### Finding the Standard Deviation of the length of the dataset using Numpy:

In [ ]:
std_length = np.std(df['length'])
print(std_length)

### Finding the  Standard Deviation of the weight of the dataset using Numpy:

In [ ]:
std_weight = np.std(df['weight'])
print(std_weight)

### Finding the Standard Deviation of the weight:length ratio of the dataset using Numpy:

In [ ]:
std_w_l_ratio = np.std(df['weight'])
print(std_w_l_ratio)

### Finding the mean, median, mode and range of the weight:length ratio of the dataset using Basic Operations:

In [ ]:
mean_w_l_ratio=df['w_l_ratio'].mean()
print(f'The mean length is: {mean_w_l_ratio}.')

In [ ]:
median_w_l_ratio=df['w_l_ratio'].median()
print(f'The median length is: {median_w_l_ratio}.')

In [ ]:
mode_w_l_ratio=df['w_l_ratio'].mode()
print(f'The median length is: {mode_w_l_ratio}.')

In [ ]:
range_w_l_ratio = df['w_l_ratio'].max() - df['w_l_ratio'].min()
print(f'The range of the weight length ratio is: {range_w_l_ratio}.')

### Finding the mean, median, mode and range of the length of the dataset using Basic Operations:

In [ ]:
meanlength=df['length'].mean()
print(f'The mean length is: {meanlength}.')

In [ ]:
medianlength=df['length'].median()
print(f'The median length is: {medianlength}.')

In [ ]:
modelength=df['length'].mode()
print(f'The mode length is: {modelength}.')

In [ ]:
rangelength = df['length'].max() - df['length'].min()
print(f'The range of weight is: {rangelength}.')

### Finding the mean, median, mode and range of the weight of the dataset using Basic Operations:

In [ ]:
meanweight=df['weight'].mean()
print(f'The mean weight is: {meanweight}.')

In [ ]:
medianweight=df['weight'].median()
print(f'The median weight is: {medianweight}.')

In [ ]:
modeweight=df['weight'].mode()
print(f'The mode weight is: {modeweight}.')

In [ ]:
rangeweight = df['weight'].max() - df['weight'].min()
print(f'The range of weight is: {rangeweight}.')

### Finding the mean weight per species to indentify the heaviest and lightest fish of the dataset:

In [ ]:
mean_weight_per_species = df.groupby('species')['weight'].mean()
print(mean_weight_per_species)

### Finding the mean weight:length ratio per species to indentify the skinniest and stoutest fish of the dataset:

In [ ]:
mean_w_l_ratio_per_species = df.groupby('species')['w_l_ratio'].mean()
print(mean_w_l_ratio_per_species)

### Finding the mean length per species to identify the longest and shortest fish of the dataset:

In [ ]:
mean_length_per_species = df.groupby('species')['length'].mean()
print(mean_length_per_species)

In [ ]:
median_length_per_species = df.groupby('species')['length'].median()
print(median_length_per_species)

### Data visualization:

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
mean_weight_per_species = df.groupby('species')['weight'].mean().reset_index()

In [ ]:
plt.bar(mean_weight_per_species['species'], mean_weight_per_species['weight'], edgecolor='black')
plt.xticks(rotation=90)
plt.xlabel('Species')
plt.ylabel('Average Weight in Grams')
plt.title('Average Weight per Fish Species')
plt.show()

In [ ]:
mean_length_per_species = df.groupby('species')['length'].mean().reset_index()

In [ ]:
plt.bar(mean_length_per_species['species'], mean_length_per_species['length'], edgecolor='black')
plt.xticks(rotation=90)
plt.xlabel('Species')
plt.ylabel('Average Length in Centimeters')
plt.title('Average Length per Fish Species')
plt.show()

In [ ]:
mean_weight_length_ratio_per_species = df.groupby('species')['w_l_ratio'].mean().reset_index()

In [ ]:
plt.bar(mean_weight_length_ratio_per_species['species'], mean_weight_length_ratio_per_species['w_l_ratio'], edgecolor='black')
plt.xticks(rotation=90)
plt.xlabel('Species')
plt.ylabel('Average Weight:Length Ratio')
plt.title('Average Weight:Length Ratio per Fish Species')
plt.show()